<div class="comment mb-2 row" *ngIf="comment">
  <div class="comment-avatar col-md-1 col-2 text-center pr-1">
    <a href=""><img class="mx-auto img-fluid" [src]="comment.userAvatar" alt="avatar"></a>
  </div>
  <div class="comment-content col-md-11 col-10">
    <h6 class="small comment-meta"><a href="#">{{ comment.userLogin }}</a> {{ comment.createdDate | amTimeAgo }}</h6>

    <div class="float-right">
      <button *ngIf="!comment.myRank && authService.isLoggedIn()" type="button" class="btn btn-sm btn-white" (click)="vote(-1)"><i class="fa fa-minus text-danger" aria-hidden="true"></i></button>
      <button *ngIf="comment.myRank == -1 && authService.isLoggedIn()" type="button" class="btn btn-sm" disabled><i class="fa fa-minus text-danger" aria-hidden="true"></i></button>
      <button *ngIf="comment.myRank == 1 && authService.isLoggedIn()" type="button" class="btn btn-sm btn-white" disabled><i class="fa fa-minus text-muted" aria-hidden="true"></i></button>

      <button *ngIf="getVoteSum()" (click)="toggleVoteSum()" type="button" class="btn btn-sm btn-white"><span class="text-success
" *ngIf="comment.plusCount - comment.minusCount > 0">{{ comment.plusCount - comment.minusCount }}</span><span *ngIf="comment.plusCount - comment.minusCount == 0">{{ comment.plusCount - comment.minusCount }}</span><span class="text-danger
" *ngIf="comment.plusCount - comment.minusCount < 0">{{ comment.plusCount - comment.minusCount }}</span> ({{ comment.plusCount + comment.minusCount }})</button>
      <button *ngIf="!getVoteSum()" (click)="toggleVoteSum()" type="button" class="btn btn-sm btn-white"><span class="text-danger" aria-hidden="true">-{{ comment.minusCount }}</span> <span class="text-success" aria-hidden="true">+{{ comment.plusCount }}</span></button>

      <button *ngIf="!comment.myRank && authService.isLoggedIn()"  type="button" class="btn btn-sm btn-white" (click)="vote(1)"><i class="fa fa-plus text-success" aria-hidden="true"></i></button>
      <button *ngIf="comment.myRank == 1 && authService.isLoggedIn()" type="button" class="btn btn-sm" disabled><i class="fa fa-plus text-success" aria-hidden="true"></i></button>
      <button *ngIf="comment.myRank == -1 && authService.isLoggedIn()" type="button" class="btn btn-sm btn-white" disabled><i class="fa fa-plus text-muted" aria-hidden="true"></i></button>
    </div>


    <div class="comment-body">
      <p>
        {{ comment.value }}
      </p>
    </div>
  </div>
</div>
