<div class="comment mb-2 row" *ngIf="comment">
  <div class="comment-avatar col-md-1 col-2 text-center pr-1">
    <a [routerLink]="['/profil', comment.userLogin]" aria-label="Przejdź do strony autora"><img class="mx-auto img-fluid" [src]="comment.userAvatar" alt="avatar"></a>
  </div>
  <div class="comment-content col-md-11 col-10">
    <h6 class="small comment-meta"><a [routerLink]="['/profil', comment.userLogin]" aria-label="Przejdź do strony autora">{{ comment.userLogin }}</a> {{ comment.createdDate | amTimeAgo }}</h6>

    <div class="float-right">
      <app-vote-button [myVote]="comment.myRank" [minusCount]="comment.minusCount" [plusCount]="comment.plusCount" (onVoted)="vote($event)"></app-vote-button>
    </div>

    <div class="comment-body">
      <p>
        {{ comment.value }}
      </p>
    </div>
  </div>
</div>
