<div class="row flex-column-reverse flex-md-row align-items-center" *ngIf="question" @fadeInOut>
 <div class="col-12 col-md-11">
   <a *ngIf="question" class="list-group-item list-group-item-action" [routerLink]="['/pytanie', question.id, question.shortLink]" aria-label="Przejdź do strony pytania">
     <div class="row mt-2 mb-2">
       <div class="col-12 text-center">
         <div class="float-left text-md-right text-center" [ngbTooltip]="'Data utworzenia pytania przez autora'">
           <span class="small">{{ question.createdDate | amDateFormat: 'DD.MM.YYYY HH:mm' }}</span>
         </div>

         {{ question.value }} <span *ngIf="question.adultRated" class="font-weight-bold text-danger">+18</span>

         <div class="float-right">
           <span [ngbTooltip]="(question.firstCount + question.secondCount) | answers"><i class="fa fa-envelope text-success"></i> {{ question.firstCount + question.secondCount }}</span>
           <span [ngbTooltip]="question.commentCount | comments"><i class="fa fa-comments text-info"></i> {{ question.commentCount }}</span>
           <span [ngbTooltip]="(question.minusCount + question.plusCount) | votes"><i class="fa fa-thumbs-down text-danger"></i> &#45;{{ question.minusCount }}
        <i class="fa fa-thumbs-up text-success"></i> &#43;{{ question.plusCount }}</span>
           <span [ngbTooltip]="question.favouriteCount | favourites"><i class="fa fa-heart text-danger"></i> {{ question.favouriteCount }}</span>
           <span><i class="fa fa-hashtag" aria-hidden="true"></i></span> {{ question.id }}
         </div>
       </div>
     </div>

     <div class="row">
       <div class="col-12 col-sm-6">
         <div class="p-3 mb-2 bg-favourite text-dark">{{ question.firstAnswer }}</div>
       </div>

       <div class="col-12 col-sm-6">
         <div class="p-3 mb-2 bg-favourite text-dark">{{ question.secondAnswer }}</div>
       </div>
     </div>

     <div class="row">
       <div class="col-12 text-center">
         <div class="float-left text-md-right text-center">
           <a class="btn btn-sm btn-white" [routerLink]="['/profil', question.userLogin]" aria-label="Przejdź do strony autora"><i class="fa fa-user" aria-hidden="true"></i> {{ question.userLogin }}</a>
         </div>

         <div class="float-right text-md-right text-center">
          <span [ngbTooltip]="'Data dodania do ulubionych: ' + (question.addedDate | amCalendar)"><i class="fa fa-heart text-danger" aria-hidden="true"></i> {{ question.addedDate | amTimeAgo }}</span>
         </div>
       </div>
     </div>
   </a>
 </div>

 <div class="col-12 col-md-1 mt-3 mt-md-0 text-right text-md-center">
   <button *ngIf="question.myFavourite !== false" type="button" class="btn btn-sm btn-danger" (click)="removeFromFavorites()"><i *ngIf="!isFavouriteLoading" class="fa fa-trash fa-fw" aria-hidden="true"></i><i *ngIf="isFavouriteLoading" class="fa fa-refresh fa-spin fa-fw"></i> Usuń</button>
 </div>
</div>
