<data-table *ngIf="!isLoading"
  headerTitle="Pytania zgłoszone przez użytkowników"
  [items]="reports"
  [itemCount]="reportCount"
  (reload)="reloadItems($event)"

  [pagination]="false"
  [indexColumn]="false"
  [selectColumn]="false"
  [multiSelect]="false"
  [rowColors]="rowColors"
  [expandableRows]="true"
  [translations]="translations"
>
  <ng-template #dataTableExpand let-item="item">
    <pre>{{ item | json }}</pre>
  </ng-template>

  <data-table-column property="id" header="Zgłoszenie" [sortable]="true" [resizable]="true" [visible]="false">
  </data-table-column>

  <data-table-column property="question'" header="Pytanie" [width]="70"  [resizable]="true" [sortable]="false" [visible]="true">
    <ng-template #dataTableCell let-item="item">
      <a class="btn btn-light btn-sm" [routerLink]="['/pytanie', item.question.id, item.question.shortLink]" aria-label="Przejdź do strony pytania">{{ item.question.id }}</a>
    </ng-template>
  </data-table-column>

  <data-table-column property="reportedDate" header="Data zgłoszenia" [resizable]="true" [sortable]="true" [visible]="false">
    <ng-template #dataTableCell let-item="item">
              <span style="color: grey">
              {{ item.reportedDate | date:'yyyy-MM-dd HH:mm' }}
              </span>
    </ng-template>
  </data-table-column>

  <data-table-column property="reason" header="Powód" [resizable]="true" [sortable]="true" [visible]="true">
  </data-table-column>

  <data-table-column property="question" header="Data utworzenia" [resizable]="true" [sortable]="false" [visible]="false">
    <ng-template #dataTableCell let-item="item">
              <span style="color: grey">
              {{ item.question.createdDate | date:'yyyy-MM-dd HH:mm' }}
              </span>
    </ng-template>
  </data-table-column>

  <data-table-column property="question" header="Data akceptacji" [resizable]="true" [sortable]="false" [visible]="false">
    <ng-template #dataTableCell let-item="item">
              <span style="color: grey">
              {{ item.question.acceptedDate | date:'yyyy-MM-dd HH:mm' }}
              </span>
    </ng-template>
  </data-table-column>

  <data-table-column property="question" header="Pytanie" [resizable]="true" [sortable]="false">
    <ng-template #dataTableCell let-item="item">
      <inline-editor type="textarea" [(ngModel)]="item.question.value" (onSave)="saveValue(item, $event)" [min]="2" [max]="150" (onError)="handleError($event)"></inline-editor>
    </ng-template>
  </data-table-column>

  <data-table-column property="question" header="Odpowiedź A" [resizable]="true" [sortable]="false">
    <ng-template #dataTableCell let-item="item">
      <inline-editor type="textarea" [(ngModel)]="item.question.firstAnswer" (onSave)="saveFirstAnswer(item, $event)" [min]="2" [max]="150" (onError)="handleError($event)"></inline-editor>
    </ng-template>
  </data-table-column>

  <data-table-column  header="Odpowiedź B" [resizable]="true" [sortable]="false">
    <ng-template #dataTableCell let-item="item">
      <inline-editor type="textarea" [(ngModel)]="item.question.secondAnswer" (onSave)="saveSecondAnswer(item, $event)" [min]="2" [max]="150" (onError)="handleError($event)"></inline-editor>
    </ng-template>
  </data-table-column>

  <data-table-column  header="+18" [width]="100" [sortable]="false" [resizable]="true" [visible]="true">
    <ng-template #dataTableCell let-item="item">
      <inline-editor type="select" [(ngModel)]="item.question.adultRated" (onSave)="saveAdultRated(item, $event)" [options]="adultRatedOptions"></inline-editor>
    </ng-template>
  </data-table-column>

  <data-table-column header="Skrót" [resizable]="true" [sortable]="false" [visible]="false">
    <ng-template #dataTableCell let-item="item">
      <inline-editor type="textarea" [(ngModel)]="item.question.shortLink" (onSave)="saveShortLink(item, $event)" [min]="2" [max]="50" (onError)="handleError($event)"></inline-editor>
    </ng-template>
  </data-table-column>

  <data-table-column property="question" header="Status" [resizable]="true" [sortable]="false" [visible]="true">
    <ng-template #dataTableCell let-item="item">
      <inline-editor type="select" [(ngModel)]="item.question.status" (onSave)="saveStatus(item, $event)"  [options]="statusOptions"></inline-editor>
    </ng-template>
  </data-table-column>

  <data-table-column header="Działania" [resizable]="true" [visible]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="btn-group-vertical" role="group" aria-label="Działania">
        <button (click)="deleteQuestion(item)" class="btn btn-sm" [class.btn-danger]="!item.isDeletedQuestion" [disabled]="item.isDeletedQuestion || item.isDeletingQuestion"><i class="fa fa-refresh fa-spin fa-fw" aria-hidden="true" *ngIf="item.isDeletingQuestion"></i> <i class="fa fa-trash" aria-hidden="true" *ngIf="!item.isDeletingQuestion"></i> <span class="d-none d-lg-inline-block" *ngIf="item.isDeletedQuestion">Usunięto pytanie</span><span class="d-none d-lg-inline-block" *ngIf="!item.isDeletedQuestion">Usuń pytanie</span></button>
        <button (click)="deleteReport(item)" class="btn btn-sm" [class.btn-info]="!item.isDeletedReport" [disabled]="item.isDeletedReport || item.isDeletingReport"><i *ngIf="item.isDeletingReport" class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true" *ngIf="!item.isDeletingReport"></i> <span class="d-none d-lg-inline-block" *ngIf="item.isDeletedReport">Usunięto zgłoszenie</span><span class="d-none d-lg-inline-block" *ngIf="!item.isDeletedReport">Usuń zgłoszenie</span></button>
      </div>
    </ng-template>
  </data-table-column>
</data-table>

<div class="card bg-white border-0" *ngIf="isLoading">
  <div class="card-body text-center mt-2">
    <ngx-loading [show]="isLoading"></ngx-loading>
    <br />
    Trwa pobieranie...
  </div>
</div>
