$color-google: #d62d20;
$color-facebook: #3b5998;

$blue-lighter: #a4ebff;
$blue-light: #82C5D9;

$blue-darker: #006bd6;
$blue-dark: #1c92ff;

$green-lighter: #89C364;
$green-light: #90af3e;

$grey-lighter: #9cc9c3;
$grey-light: #84b0aa;

$turquise-lighter: #24C7B8;
$turquise-light: #03A28E;

$orange-lighter: #F2D22D;
$orange-light: #E8B300;

$orange-darker: #F47204;
$orange-dark: #F58906;

$pink-lighter: #F19D83;
$pink-light: #de8774;

$pink-darker: #e56163;
$pink-dark: #ff6567;

$spring-lighter: #c4f1a5;
$spring-light: #abdd9c;

$yellow-lighter: #ecd862;
$yellow-light: #FFFF9D;

$text-navy: #001f3f;
$text-blue: #0057A3;
$text-teal: #196161;
$text-olive : #33805D;
$text-green: #1b8b00;
$text-brown: #993B00;
$text-red: #B30900;
$text-maroon: #85144b;
$text-purple: #970BAD;
$text-gray: #595959;

// Color Palette #3595
$olive-color: #3c3f0d;
$lime-color: #93a711;
$yellow-color: #f09837;
$orange-color: #e35d01;
$red-color: #b5231b;

// Color Palette #3593
$light-color: #eaf1fa;
$mint-color: #d4e690;
$light-green: #a2d240;
$apple-green: #1b8b00;
$forest-color: #002801;
