$color-google: #d62d20;
$color-facebook: #3b5998;

$blue-light: #7495ac;
$blue-dark: #04253c;

$green-lighter: #799e2c;
$green-light: #678724;

$turquise-lighter: #0e9e6b;
$turquise-light: #0c7a53;

$orange-lighter: #EFC847;
$orange-light: #D99A17;


$sth: #7495ac;
