$color-google: #d62d20;
$color-facebook: #3b5998;

$blue-light: #7495ac;
$blue-dark: #04253c;

$green-lighter: #89C364;
$green-light: #90af3e;

$grey-lighter: #9cc9c3;
$grey-light: #84b0aa;

$turquise-lighter: #24C7B8;
$turquise-light: #03A28E;

$orange-lighter: #F2D22D;
$orange-light: #E8B300;

$orange-darker: #F47204;
$orange-dark: #F58906;

$yellow-lighter: #ffbf06;
$yellow-light: #f9a206;

$yellow-darker: #F47204;
$yellow-dark: #F58906;

$sth: #7495ac;
