@import './variables';
@import './mixins';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn {
  white-space: pre-wrap;
}

.btn-google {
  color: #fff;
  background-color: #d62d20;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
}
