@import './variables';
@import './mixins';
@import '~ngx-toastr/toastr';
@import "~ng2-slim-loading-bar/style.css";
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn:focus {
  box-shadow: none;
}

.btn {
  white-space: pre-wrap;
}

.btn-google {
  color: #fff;
  background-color: $color-google;
}

.btn-facebook {
  color: #fff;
  background-color: $color-facebook;
}

.btn-accepted-first {
  color: #000;
  background-color: $green-lighter;

  &:hover {
    background-color: $green-light;
  }
}

.btn-accepted-second {
  color: #000;
  background-color: $turquise-lighter;

  &:hover {
    background-color: $turquise-light;
  }
}

.btn-pending-first {
  color: #000;
  background-color: $orange-lighter;

  &:hover {
    background-color: $orange-light;
  }
}

.btn-pending-second {
  color: #000;
  background-color: $orange-dark;

  &:hover {
    background-color: $orange-darker;
  }
}

.btn-random-first {
  color: #000;
  background-color: $pink-lighter;

  &:hover {
    background-color: $pink-light;
  }
}

.btn-random-second {
  color: #000;
  background-color: $pink-dark;

  &:hover {
    background-color: $pink-darker;
  }
}

.btn-top-first {
  color: #000;
  background-color: $olive-lighter;

  &:hover {
    background-color: $olive-light;
  }
}

.btn-top-second {
  color: #000;
  background-color: $orange-lighter;

  &:hover {
    background-color: $orange-light;
  }
}

.btn-default-first {
  color: #000;
  background-color: $green-lighter;

  &:hover {
    background-color: $green-light;
  }
}

.btn-default-second {
  color: #000;
  background-color: $turquise-lighter;

  &:hover {
    background-color: $turquise-light;
  }
}

.refresh-button {
  display: none;
  visibility: hidden;
}

.button-panel {
  .column-selector-button {
    cursor: pointer;
    position: relative;
    top: 0;
    height: 35px;

    &:hover, &:focus {
      background-color: #e4eaef;
    }

    .fa-list {
      position: relative;
      top: -35px;
      display: block;
    }
  }
}

.emoji-input-holder {
  .eih-smiley {
    top: -7px;
  }
  .eih-emojis-dialog {
    min-width: 250px;
    .eih-emoticons-category {
      p {
        display: none;
        visibility: hidden;
      }
      .eih-emoticon {
        font-size: 20px;
      }
    }
  }
}

.toast-success {
  background-color: #28a745;
}

