@import './variables';
@import './mixins';
@import '~ngx-toastr/toastr';
@import '~ng2-slim-loading-bar/style.css';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn:focus {
  box-shadow: none;
}

.btn {
  white-space: pre-wrap;
}

.btn-google {
  color: #fff;
  background-color: $color-google;
}

.btn-facebook {
  color: #fff;
  background-color: $color-facebook;
}

.btn-accepted-first {
  color: #000;
  background-color: $green-lighter;

  &:hover {
    background-color: $green-light;
  }
}

.btn-accepted-second {
  color: #000;
  background-color: $turquise-lighter;

  &:hover {
    background-color: $turquise-light;
  }
}

.btn-pending-first {
  color: #000;
  background-color: $orange-lighter;

  &:hover {
    background-color: $orange-light;
  }
}

.btn-pending-second {
  color: #000;
  background-color: $orange-dark;

  &:hover {
    background-color: $orange-darker;
  }
}

.btn-random-first {
  color: #000;
  background-color: $pink-lighter;

  &:hover {
    background-color: $pink-light;
  }
}

.btn-random-second {
  color: #000;
  background-color: $pink-dark;

  &:hover {
    background-color: $pink-darker;
  }
}

.btn-top-first {
  color: #000;
  background-color: $olive-lighter;

  &:hover {
    background-color: $olive-light;
  }
}

.btn-top-second {
  color: #000;
  background-color: $orange-lighter;

  &:hover {
    background-color: $orange-light;
  }
}

.btn-default-first {
  color: #000;
  background-color: $green-lighter;

  &:hover {
    background-color: $green-light;
  }
}

.btn-default-second {
  color: #000;
  background-color: $turquise-lighter;

  &:hover {
    background-color: $turquise-light;
  }
}

.refresh-button {
  display: none;
  visibility: hidden;
}

.button-panel {
  .column-selector-button {
    cursor: pointer;
    position: relative;
    top: 0;
    height: 35px;

    &:hover, &:focus {
      background-color: #e4eaef;
    }

    .fa-list {
      position: relative;
      top: -35px;
      display: block;
    }
  }
}

.emoji-input-holder {
  .eih-smiley {
    top: -7px;
  }
  .eih-emojis-dialog {
    min-width: 250px;
    .eih-emoticons-category {
      p {
        display: none;
        visibility: hidden;
      }
      .eih-emoticon {
        font-size: 20px;
      }
    }
  }
}

.toast-success {
  background-color: #28a745;
}

.btn-primary.c-inline-editor {
  margin-left: 5px;
}

.btn-primary.c-inline-editor, .btn-danger.c-inline-editor  {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;

  & > .fa {
    display: block;
    position: absolute;
    top: 0;
    padding: 5px;
  }
}

#inlineEditWrapper > a.c-inline-editor {
  text-decoration: none;
  border-bottom: dashed 1px;
  cursor: pointer;
}

.c-inline-editor.editable-empty,
.c-inline-editor.editable-empty:hover,
.c-inline-editor.editable-empty:focus,
.c-inline-editor.a.editable-empty,
.c-inline-editor.a.editable-empty:hover,
.c-inline-editor.a.editable-empty:focus {
  font-style: italic;
  text-decoration: none;
}

.c-inline-editor.inlineEditForm {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
}

#inlineEditWrapper {
  display: inline-block;
}

.c-inline-editor.inlineEditForm input,
.c-inline-editor.select {
  width: auto;
  display: inline;
}

.c-inline-editor.inline-editor-button-group {
  display: inline-block;
}

.c-inline-editor.editInvalid {
  color: #a94442;
  margin-bottom: 0;
}

.c-inline-editor.error {
  border-color: #a94442;
}

[hidden].c-inline-editor {
  display: none;
}
