<div class="row justify-content-md-center">
  <div class="col-lg-10">
    <form id="needs-validation" [formGroup]="registerForm" novalidate (keyup.enter)="register(inputLogin.value, inputEmail.value, inputPassword.value, inputDate.value)">
      <div class="container"  [ngClass]="{'was-validated': isFormValid()}">
        <h1 class="text-center">Zarejestruj się</h1>

        <div class="form-group row">
          <label for="inputLogin" class="col-sm-2 col-form-label text-left">Login</label>
          <div class="col-sm-10">
            <input #inputLogin id="inputLogin" type="text" class="form-control" [ngClass]="displayFieldCss('inputLogin')" placeholder="Login" formControlName="inputLogin" required />
            <small class="invalid-feedback" *ngFor="let field of getKeysOfObject(registerForm.get('inputLogin').errors)">
              {{ validationMessages.inputLogin[field] }}
            </small>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label text-left">E-mail</label>
          <div class="col-sm-10">
            <input #inputEmail id="inputEmail" formControlName="inputEmail" type="email" class="form-control" [ngClass]="displayFieldCss('inputEmail')" placeholder="E-mail" required />
            <small class="invalid-feedback">
              <span *ngFor="let field of getKeysOfObject(registerForm.get('inputEmail').errors)">{{ validationMessages.inputEmail[field] }}</span>
            </small>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label text-left">Hasło</label>
          <div class="col-sm-10">
            <input #inputPassword id="inputPassword" formControlName="inputPassword" type="password" class="form-control" [ngClass]="displayFieldCss('inputPassword')" placeholder="Hasło" required />
            <small class="invalid-feedback">
              <span *ngFor="let field of getKeysOfObject(registerForm.get('inputPassword').errors)">{{ validationMessages.inputPassword[field] }}</span>
            </small>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputConfirmPassword" class="col-sm-2 col-form-label text-left">Powtórz hasło</label>
          <div class="col-sm-10">
            <input #inputConfirmPassword id="inputConfirmPassword" formControlName="inputConfirmPassword" type="password" class="form-control" [ngClass]="displayFieldCss('inputConfirmPassword')" placeholder="Powtórz hasło" required />
            <small class="invalid-feedback">
              <span *ngFor="let field of getKeysOfObject(registerForm.get('inputConfirmPassword').errors)">{{ validationMessages.inputConfirmPassword[field] }}</span>
            </small>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputDate" class="col-sm-2 col-form-label text-left">Data urodzenia</label>
          <div class="col-sm-10">
            <input #inputDate id="inputDate" formControlName="inputDate" type="date" class="form-control" [ngClass]="displayFieldCss('inputDate')" placeholder="Data urodzenia" required />
            <small class="invalid-feedback">
              <span *ngFor="let field of getKeysOfObject(registerForm.get('inputDate').errors)">{{ validationMessages.inputDate[field] }}</span>
            </small>
          </div>
        </div>

        <div class="form-group row">
          <div class="form-check">
            <div class="col">
            <label class="form-check-label" [ngClass]="displayCheckboxCss()" (change)="clickCheckbox()">
              <input class="form-check-input" type="checkbox" [checked]="isChecked()" id="inputCheckbox">
              Oświadczam, że zapoznałem się z <a href>Regulaminem serwisu</a> i akceptuję jego treść. Oświadczam także, iż mam ukończone trzynaście lat.
            </label>
            </div>
          </div>
        </div>
        <button class="btn btn-secondary btn-block btn-register" type="reset" (click)="reset()">Anuluj</button>

        <button class="btn btn-primary btn-block btn-register" type="button" (click)="register(inputLogin.value, inputEmail.value, inputPassword.value, inputDate.value)">Zarejestruj się <i class="fa fa-refresh fa-spin fa-fw" *ngIf="isLoading"></i></button>

        <div class="row mt-3">
          <div class="col">
            Uwaga! Po rejestracji wyślemy Ci wiadomość z linkiem aktywacyjnym. Upewnij się, że podałeś poprawny adres e-mail, inaczej nie będziesz się mógł zalogować.
          </div>
        </div>

        <div class="text-center">
          <a [routerLink]="['/logowanie']" class="btn btn-link" aria-label="Zaloguj się">Masz już konto? <strong>Zaloguj się</strong></a>
        </div>
      </div>
    </form>
  </div>
</div>
