button:focus {
  outline: none;
}

.btn-register {
  padding: 10px 0;
  margin-top: 10px;
}

.form-check {
  margin-top: 5px;
}

.input-group {
  margin: 10px 10px 0 0;
}

p {
  margin: 10px 10px 0 0;
}
