<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center col-md-7 col-lg-8 text-md-left text-muted small">
        Korzystanie z serwisu oznacza akceptację regulaminu oraz polityki prywatności. Copyright © 2017 Albo Albo
      </div>

      <div class="col-12 text-center col-md-5 col-lg-4 text-md-right text-muted small">
          <a [routerLink]="['pomoc']" [routerLinkActive]="['active']">Pomoc</a> | <a [routerLink]="['regulamin']" [routerLinkActive]="['active']">Regulamin</a> | <a [routerLink]="['polityka']" [routerLinkActive]="['active']">Polityka prywatności</a> | <a [routerLink]="['kontakt']" [routerLinkActive]="['active']">Kontakt</a>
      </div>
    </div>
  </div>
</footer>
