<div class="container pb-3 pt-3">
  <h2>Polityka prywatności</h2>

  <h3>Informacje ogólne</h3>
  <ol>
    <li>Administratorem danych osobowych jest Jakub Fortuniak, Student Wydziału Matematyki i Informatyki Uniwersytetu im. Adama Mickiewicza w Poznaniu.</li>
    <li>Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący sposób:
      <ol>
        <li>Poprzez dobrowolnie wprowadzone w formularzach informacje.</li>
        <li>Poprzez zapisywanie w urządzeniach końcowych pliki cookie (tzw. "ciasteczka") oraz localStorage.</li>
      </ol>
    </li>
    <li>Serwis szanuje prywatność swoich użytkowników. </li>
  </ol>

  <h3>Zastrzeżenia prawne i odpowiedzialność</h3>
  <ol>
    <li>Wszelkie materiały zawarte w serwisie Albo Albo są bezpłatne.</li>
    <li>Użytkownicy oraz zespół serwisu Albo Albo nie odpowiadają za jakiekolwiek szkody wynikłe z ich korzystania.</li>
    <li>Serwis zastrzega sobie możliwość edycji i usuwania wpisów oraz blokowania użytkowników, którzy naruszają regulamin serwisu Albo Albo.</li>
  </ol>

  <h3>Wyłączenie odpowiedzialności</h3>
  <ol>
    <li>Serwis nie ponosi odpowiedzialności za treści i opinie wyrażane przez użytkowników w komentarzach lub opisach.
  </ol>

  <h3>Gromadzenie danych osobowych</h3>
  <ol>
    <li>Serwis zbiera informacje podane dobrowolnie przez użytkownika.</li>
    <li>Serwis może zapisać ponadto informacje o parametrach połączenia (oznaczenie czasu, adres IP).</li>
    <li>Dane w formularzu nie są udostępniane podmiotom trzecim inaczej, niż za zgodą użytkownika.</li>
    <li>Serwis przetwarza dane osobowe użytkowników zgodnie z obowiązującymi przepisami. Adresów email używamy, w szczególności, w celu powiadamiania użytkowników o istotnych zmianach w serwisie lub komunikatach technicznych.
    </li>
    <li>Serwis nie sprzedaje ani nie przekazuje zebranych informacji innym podmiotom.</li>
    <li>Serwis może gromadzić informacje podawane przez użytkownika, w szczególności adresy e-mail oraz datę urodzenia, oraz informacje dot. komunikacji z użytkownikami.</li>
    <li>Gromadzone dane są przetwarzane w celu przygotowania pracy dyplomowej wymaganej do uzyskania stopnia naukowego. Z tego powodu administrator danych jest zwolniony z obowiązku rejestracji zbioru danych (art. 43 ust. 1 ustawy o ochronie danych osobowych).</li>
    <li>Użytkownik ma prawo dostępu do treści danych osobowych oraz ich poprawiania.
      <ol>
        <li>Usunięcie danych osobowych oraz usunięcia konta Użytkownika z Serwisu następuje po wysłaniu stosownej informacji poprzez adres {{ contact }}.</li>
        <li>Z uwagi na różnorodność danych, dostępność administratorów oraz złożoność procesu usuwania danych, dane zostaną usunięte w terminie do 7 dni od daty przesłania żądania usunięcia danych.</li>
        <li>Udostępnianie, poprawianie i usuwanie danych jest bezpłatne.</li>
      </ol>
    </li>
  </ol>

  <h3>Logi serwera</h3>
  <ol>
    <li> Informacje o niektórych zachowaniach użytkowników podlegają logowaniu w warstwie serwerowej. Dane te są wykorzystywane wyłącznie w celu administrowania serwisem oraz w celu zapewnienia jak najbardziej sprawnej obsługi świadczonych usług hostingowych.
    </li>
    <li>
      Przeglądane zasoby identyfikowane są poprzez adresy URL. Ponadto zapisowi mogą podlegać:
      <ol type="a">
        <li>Czas nadejścia zapytania,</li>
        <li>Czas wysłania odpowiedzi,</li>
        <li>Dane o użytkowniku,</li>
        <li>Informacje o błędach jakie nastąpiły przy realizacji transakcji HTTP,</li>
        <li>Informacje o przeglądarce użytkownika,</li>
        <li>Informacje o adresie IP.</li>
      </ol>
    </li>
    <li>
      Dane powyższe są wykorzystywane jedynie dla celów administrowania serwerem.
    </li>
  </ol>

  <h3>Cookies i inne technologie</h3>
  <ol>
    <li>Serwis korzysta z plików cookies. Stosujemy także inne technologie tego typu, tj. w postaci zapisu i odczytu informacji z localStorage</li>
    <li>
      Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.
    </li>
    <li>
      Pliki cookies oraz informacje zapisywane w localStorage wykorzystywane są w następujących celach:
      <ol type="a">
        <li>Tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają z Serwisu, co umożliwia ulepszanie ich struktury i zawartości;</li>
        <li>Utrzymanie sesji Użytkownika Serwisu po zalogowaniu, dzięki której Użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać loginu i hasła</li>
      </ol>
    <li>
      Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym zakresie. Przeglądarka internetowa umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików cookies Szczegółowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej. Aby nie zezwalać na działanie technologii localStorage należy wyłączyć współpracę przeglądarki z tą technologią, co odbywa się zazwyczaj w analogiczny sposób jak dla rezygnacji z otrzymywanie plików cookies.
    </li>
    <li>
      Ograniczenia stosowania plików cookies oraz localStorage mogą wpłynąć na działanie Serwisu.
    </li>
  </ol>

  <h3>Bezpieczeństwo</h3>
  <ol>
    <li>Administrator serwisu dołoży wszelkich starań, by zapewnić bezpieczeństwo udostępnionych mu danych, w szczególności przed dostępem osób nieupoważnionych.</li>
    <li>Administrator zapewnia wszystkim zarejestrowanym użytkownikom realizację uprawnień wynikających z ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych (Dz.U. nr 133, pozycja 883), w szczególności prawo wglądu do własnych danych, prawo żądania aktualizacji i usunięcia danych oraz prawo wniesienia sprzeciwu w przypadkach określonych w przepisach tej ustawy.</li>
  </ol>

  <p>W razie wątpliwości co któregokolwiek z zapisów niniejszej polityki prywatności jesteśmy do dyspozycji - prosimy z nami się skontaktować w zakładce - <a [routerLink]="['/kontakt']" [routerLinkActive]="['active']">Kontakt</a>.</p>
</div>
