<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
    <a class="navbar-brand" [routerLink]="['']" [routerLinkActive]="['active']"><img src="assets/logo.png" width="25" height="25" alt="" /> Albo Albo</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarCollapse" [attr.aria-expanded]="!isCollapsed()" aria-label="Rozwiń menu" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{show: isCollapsed()}" (click)="disableCollapsed()">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['pytanie']" [routerLinkActive]="['active']">Główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['najnowsze']" [routerLinkActive]="['active']">Najnowsze</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['poczekalnia']" [routerLinkActive]="['active']">Poczekalnia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['top']" [routerLinkActive]="['active']">Top</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <ul class="navbar-nav mr-auto" *ngIf="authService.isLoggedIn() === true">
          <li class="nav-item" *ngIf="authService.isAdmin()">
            <a class="nav-link" [routerLink]="['administracja']" [routerLinkActive]="['active']">Administracja</a>
          </li>
          <li class="nav-item dropdown" *ngIf="authService.isMod()">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Moderacja</a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" [routerLink]="['moderacja', 'oczekujace']">Pytania oczekujące na akceptację</a>
              <a class="dropdown-item" [routerLink]="['moderacja', 'zgloszone']">Zgłoszenia od użytkowników</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['dodaj']" [routerLinkActive]="['active']">Dodaj pytanie</a>
          </li>
          <li class="nav-item dropdown" *ngIf="authService.getUser()">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user" aria-hidden="true"></i> {{ authService.getUser().login }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" [routerLink]="['profil', authService.getUser().login, 'wszystkie']" [routerLinkActive]="['active']"><i class="fa fa-user" aria-hidden="true"></i> Profil</a>
              <a class="dropdown-item" [routerLink]="['historia']" [routerLinkActive]="['active']"><i class="fa fa-history" aria-hidden="true"></i> Historia</a>
              <a class="dropdown-item" [routerLink]="['ulubione']" [routerLinkActive]="['active']"><i class="fa fa-heart" aria-hidden="true"></i> Ulubione</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['ustawienia']" [routerLinkActive]="['active']"><i class="fa fa-cog" aria-hidden="true"></i> Ustawienia</a>
              <a class="dropdown-item" href (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj się </a>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav mr-auto" *ngIf="authService.isNotLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['logowanie']" [routerLinkActive]="['active']">Zaloguj się</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['rejestracja']" [routerLinkActive]="['active']">Zarejestruj się</a>
          </li>
        </ul>
      </form>
    </div>
  </nav>
</header>
