<div class="card bg-light card-question" *ngIf="question">
  <div class="card-header bg-light">
    <div class="row align-items-center">
      <div class="col-lg-2 text-center text-lg-left">
        <button type="button" class="btn btn-light" (click)="goToQuestionPage()"><i class="fa fa-hashtag" aria-hidden="true"></i>{{ question.id }}</button>
      </div>
      <div class="col-lg-8"><h4 class="card-title text-center">{{ question.value }}</h4></div>
      <div class="col-lg-2 text-center text-lg-right text-muted">{{ question.createdDate | amTimeAgo }}</div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-question">
        <button [@pulse]="stateFirst" type="button" (click)="answer(1)" class="btn btn-lg btn-block btn-question" [class.btn-first--checked]="question.myAnswer == 1" [ngClass]="[btnFirst]"><p>{{ question.firstAnswer }}</p><span class="firstVoteNumber"><span *ngIf="question.myAnswer"> {{ firstCountPercentage }} %</span></span><span class="voteNumber" *ngIf="question.myAnswer">{{ question.firstCount | votes }}</span></button>

        <div class="progress">
          <div [@easeLeft]="state" class="progress-bar bg-white" role="progressbar" [style.width]="100 - firstCountPercentage + '%'" [attr.aria-valuenow]="100 - firstCountPercentage" aria-valuemin="0" aria-valuemax="100"></div>
          <div [@easeRight]="state" class="progress-bar" [class.bg-light]="!question.myAnswer" [class.bg-success]="question.myAnswer == 1" [class.bg-danger]="question.myAnswer == 2" role="progressbar" [style.width]="firstCountPercentage + '%'" [attr.aria-valuenow]="firstCountPercentage"  aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="col-md-6 col-question">
        <button [@pulse]="stateSecond" type="button" (click)="answer(2)" class="btn btn-lg btn-block btn-question" [class.btn-second--checked]="question.myAnswer == 2" [ngClass]="[btnSecond]"><p>{{ question.secondAnswer }}</p><span class="secondVoteNumber"><span *ngIf="question.myAnswer">{{ secondCountPercentage }} %</span></span><span class="voteNumber" *ngIf="question.myAnswer">{{ question.secondCount | votes }}</span></button>

        <div class="progress">
          <div [@easeRight]="state" class="progress-bar" [class.bg-light]="!question.myAnswer" [class.bg-danger]="question.myAnswer == 1" [class.bg-success]="question.myAnswer == 2" role="progressbar" [style.width]="secondCountPercentage + '%'" [attr.aria-valuenow]="secondCountPercentage"  aria-valuemin="0" aria-valuemax="100"></div>
          <div [@easeLeft]="state" class="progress-bar bg-white" role="progressbar" [style.width]="100 - secondCountPercentage + '%'" [attr.aria-valuenow]="100 - secondCountPercentage" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="row align-items-center row-tags">
      <div class="col-lg-12 text-center">
        <button *ngFor="let tag of question.tags" class="btn btn-sm btn-light"><i class="fa fa-tag" aria-hidden="true"></i> {{ tag.name }}</button>
      </div>
    </div>
  </div>

  <div class="card-footer bg-light">
    <div class="row align-items-center">
      <div class="col-lg-3 text-center text-lg-left text-muted">
        <button type="button" class="btn btn-sm btn-light" (click)="goToUserPage()"><i class="fa fa-user" aria-hidden="true"></i> {{ question.userLogin }}</button>
      </div>

      <div class="col-lg-6 text-center">
        <button *ngIf="!question.myFavourite && authService.isLoggedIn()" type="button" class="btn btn-sm btn-light" (click)="addToFavorites()"><i class="fa fa-heart" aria-hidden="true"></i> Dodaj do ulubionych</button>

        <button *ngIf="question.myFavourite && authService.isLoggedIn()" type="button" class="btn btn-sm btn-light" (click)="removeFromFavorites()"><i class="fa fa-heart text-danger" aria-hidden="true"></i> Usuń z ulubionych</button>

        <button type="button" class="btn btn-sm btn-light" (click)="goToQuestionPage()"><i class="fa fa-link" aria-hidden="true"></i> Skopiuj link</button>

        <button type="button" class="btn btn-sm btn-light" (click)="getComments()" *ngIf="!comments"><i class="fa fa-comments text-primary" aria-hidden="true"></i> Skomentuj ({{ question.commentsCount }})</button>

        <button type="button" class="btn btn-sm btn-light" (click)="hideComments()" *ngIf="comments"><i class="fa fa-comments text-primary" aria-hidden="true"></i> Ukryj komentarze ({{ question.commentsCount }})</button>
      </div>

      <div class="col-lg-3 text-center text-lg-right text-muted">
        <app-vote-button [myVote]="question.myVote" [minusCount]="question.minusCount" [plusCount]="question.plusCount" (onVoted)="vote($event)"></app-vote-button>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="comments" [@fadeInOut]>
  <app-comment *ngFor="let comment of comments" [comment]="comment" [idQuestion]="question.id"></app-comment>
  <p *ngIf="comments.length == 0">Brak komentarzy.</p>
  <app-add-comment [idQuestion]="question.id" (refresh)="getComments()"></app-add-comment>
</div>
