<div class="container pb-3 pt-3">
  <h2>Regulamin</h2>

  <h3>I. Definicje</h3>
    Użyte w Regulaminie pojęcia oznaczają:
    <ol type="a">
      <li>Regulamin – niniejszy regulamin.</li>
      <li>Serwis - aplikacja webowa Albo Albo, dostępna pod adresem albo-albo.tk.</li>
      <li>Właściciel - podmiot świadczący usługę dostępu do zasobów Serwisu znajdującego się pod adresem albo-albo.tk, to jest osoba Jakub Fortuniak, Student Wydziału Matematyki i Informatyki Uniwersytetu im. Adama Mickiewicza w Poznaniu.</li>
      <li>Usługi – usługi świadczone drogą elektroniczną przez Właściciela, za pośrednictwem Serwisu,</li>
      <li>Użytkownik - osoba korzystająca z usług Serwisu.</li>
    </ol>

  <h3>II. Postanowienia ogólne</h3>
  <ol>
    <li>Niniejszy Regulamin jest regulaminem, o którym mowa w art. 8 Ustawy o świadczeniu usług drogą elektroniczną.</li>
    <li>Niniejszy Regulamin określa zasady korzystania przez Użytkowników z serwisu internetowego dostępnego pod adresem albo-albo.tk oraz z oferowanych za jego pośrednictwem usług.</li>
    <li>Korzystanie z Serwisu oraz z usług oferowanych za pośrednictwem Serwisu oznacza wyrażenie przez Użytkownika zgody na warunki określone w niniejszym Regulaminie.</li>
  </ol>

  <h3>III. Oferowane funkcjonalności w ramach Serwisu</h3>
  <ol>
    <li>Za pomocą Serwisu Użytkownik ma możliwość korzystania z następujących Usług:
  <ol type="a">
    <li>Odpowiadania na pytania zgodnie ze swoimi preferencjami,</li>
    <li>Głosowania na zamieszczone w Serwisie pytania i/lub komentarze,</li>
    <li>Umieszczania pytań,</li>
    <li>Umieszczania komentarzy pod zamieszczonymi pytaniami.</li>
  </ol>
    </li>
    <li>Usługi dostępne w Serwisie mają charakter	darmowy.</li>
    <li>Właściciel zastrzega sobie możliwość zmiany funkcjonalności Serwisu w dowolnym czasie, w szczególności poprzez wprowadzanie nowych funkcji i udogodnień dla Użytkowników.</li>
    <li>Właściciel zastrzega sobie możliwość wprowadzania opłat od dowolnych Usług w Serwisie.</li>
  </ol>

  <h3>IV. Warunki korzystania z Serwisu i zasady odpowiedzialności</h3>
  <ol>
    <li>Wymagania techniczne dotyczące korzystania z funkcjonalności Serwisu są następujące:
    <ol type="a">
      <li>Połączenie z siecią Internet,</li>
      <li>Przeglądarka internetowa umożliwiająca wyświetlanie na ekranie komputera dokumentów hipertekstowych (HTML) powiązanych w sieci Internet przez usługę sieciową z włączonym wykonywaniem JavaScript oraz zapisywaniem cookies</li>
      <li>Konto poczty e-mail.</li>
      <li>Użytkownik ponosi pełną odpowiedzialność za niewłaściwe korzystanie ze swojego Konta, w szczególności za wykorzystywanie go do zamieszczania w Serwisie treści sprzecznych z przepisami prawa, zasadami współżycia społecznego oraz niniejszym Regulaminem.</li>
    </ol>
    </li>
    <li>Użytkownik przed rozpoczęciem korzystania z Serwisu jest zobowiązany do uprzedniego zapoznania się z postanowieniami zawartymi w Regulaminie. Rejestracja w Serwisie jest równoznaczna z akceptacją Regulaminu.</li>
    <li>W trakcie rejestracji Użytkownik podaje login, hasło, adres e-mail oraz datę urodzenia. Adres e-mail Użytkownika wymaga potwierdzenia poprzez kliknięcie na link załączony do treści wiadomości wysłanej pod ten adres przez Właściciela.</li>
    <li>Wraz z dokonaniem rejestracji Użytkownik uzyskuje dostęp do swojego konta, które jest każdorazowo zapewniane przez Właściciela po wpisaniu przez Użytkownika swojego loginu i hasła.</li>
    <li>Osoba, która nagminnie narusza zasady regulaminu, może być pozbawiona prawa do korzystania z Serwisu, zatem nie może dokonać powtórnej rejestracji w Serwisie bez uprzedniej zgody Właściciela. </li>
    <li>Celowe wykorzystywanie bugów (błędów) Serwisu jest zabronione. W przypadku zauważenia błędu proszę o stosowną informację na adres <em>{{ contact}}</em>.</li>
    <li>Zabrania się Użytkownikowi:
      <ol type="a">
        <li>Rozsyłania spamu,</li>
        <li>Uprawiania działalności komercyjnej, reklamowej, promocyjnej,</li>
        <li>Wielokrotnego wysłania tej samej treści lub wielu różnych treści w bardzo krótkich odstępach czasu (flooding),</li>
        <li>Używania słów powszechnie uznawanych za wulgarne, obelżywe.</li>
      </ol>
    </li>
    <li>Użytkownik oświadcza, że materiały zamieszczone w Serwisie są jego wyłącznego autorstwa i są wolne od roszczeń osób trzecich w jakimkolwiek zakresie. Użytkownika zapewnia, iż materiały zamieszczone na Serwisie nie są obciążone żadnymi roszczeniami i innymi prawami osób trzecich.</li>
    <li>Z chwilą umieszczenia materiałów na Serwisie, Użytkownik udziela Właścicielowi nieodpłatnej licencji na korzystanie z tych materiałów, w całości jak i ich poszczególnych części, bez ograniczenia czasowego i terytorialnego. Użytkownik zapewnia, iż treści zamieszczone w Serwisie nie są obciążone żadnymi roszczeniami i innymi prawami osób trzecich. Z chwilą umieszczenia treści w Serwisie, Użytkownik udziela Właścicielowi nieodpłatnej i niewyłącznej licencji w celu wykonywania usług o których mowa w pkt 3. niniejszego Regulaminu, na następujących polach eksploatacji:
      <ol type="a">
        <li>Trwałego lub czasowego zwielokrotnienia treści lub ich części w jakikolwiek sposób, formie lub technologii, w tym małoformatowymi technikami poligraficznymi,</li>
        <li>Utrwalania, wprowadzania, wyświetlania, stosowania, przekazywania i przechowywania treści lub ich części,</li>
        <li>Wprowadzenia treści lub ich części do pamięci komputera</li>
        <li>Udostępniania treści lub ich części w jakiejkolwiek formie i technologii, w tym poprzez sieć Internet, w tym wykorzystania materiałów lub ich części na dowolnych stronach internetowych.</li>
      </ol>
    </li>
  </ol>

  <h3>V. Moment zawarcia i rozwiązania umowy o świadczenie usługi dostępu do Serwisu</h3>
  <ol>
    <li>Moment zawarcia umowy o świadczenie usługi dostępu do Serwisu następuje w chwili zarejestrowania się w Serwisie i jednoczesnego zapoznania się z Regulaminem. Użytkownik nie może zarejestrować się w Serwisie bez akceptacji Regulaminu.</li>
    <li>Użytkownik może posiadać tylko jedno Konto.</li>
    <li>Użytkownik zobowiązuje się do nie udostępniania swojego Konta innym Użytkownikom ani osobom trzecim.</li>
    <li>Użytkownik nie może korzystać z kont innych Użytkowników.</li>
    <li>Właściciel zastrzega sobie możliwość zablokowania bądź usunięcia Konta Użytkownika, który nie stosuje się do postanowień Regulaminu, podał dane podczas rejestracji niezgodne ze stanem faktycznym, postępuje w sposób sprzeczny z powszechnie obowiązującymi przepisami prawa lub zasadami współżycia społecznego lub gdy jego zachowanie zostanie uznane za szkodliwe dla Właściciela bądź innych Użytkowników.</li>
    <li>Użytkownik ma prawo do rozwiązania umowy w każdej chwili i bez podania przyczyn poprzez usunięcie swojego konta. Aby usunąć konto, należy wysłać stosowną informację na adres <em>{{ contact }}</em>. Z uwagi na różnorodność danych, dostępność administratorów oraz złożoność procesu usuwania danych, dane zostaną usunięte w terminie do 7 dni od daty przesłania żądania usunięcia danych. Udostępnianie, poprawianie i usuwanie danych jest bezpłatne.</li>
    <li>Użytkownik ma możliwość zaprzestania korzystania z Serwisu w każdej chwili poprzez wylogowanie się z Serwisu.</li>
  </ol>

  <h3>VI.  Ochrona danych osobowych</h3>
  <ol>
    <li>Administratorem danych osobowych w rozumieniu ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (Dz. U. z 2002 r., nr 101, poz. 926 z późn. zm.) jest Jakub Fortuniak, Student Wydziału Matematyki i Informatyki Uniwersytetu im. Adama Mickiewicza w Poznaniu.</li>
    <li>Dane osobowe Użytkowników przetwarzane są w następujących celach: rejestracji w Serwisie (możliwości korzystania z zasobów oferowanych przez Serwis; Użytkownik jest stroną umowy usługi świadczonej drogą elektroniczną), udzielenia odpowiedzi na przesłaną korespondencję za pomocą e-maila.</li>
    <li>Użytkownik ma prawo dostępu do treści danych osobowych oraz ich poprawiania. Usunięcie danych osobowych oraz usunięcia konta Użytkownika z Serwisu następuje po wysłaniu stosownej informacji na adres <em>{{ contact }}</em>. Z uwagi na różnorodność danych, dostępność administratorów oraz złożoność procesu usuwania danych, dane zostaną usunięte w terminie do 7 dni od daty przesłania żądania usunięcia danych. Udostępnianie, poprawianie i usuwanie danych jest bezpłatne.</li>
    <li>Gromadzone dane są przetwarzane w celu przygotowania pracy dyplomowej wymaganej do uzyskania stopnia naukowego. Z tego powodu administrator danych jest zwolniony z obowiązku rejestracji zbioru danych (zgodnie z art. 43 ust. 1 ustawy o ochronie danych osobowych).</li>
    <li>Właściciel informuje, że w trakcie korzystania z Usług oferowanych przez Serwis zbierane są i wykorzystywane dane zawarte w plikach logów. Informacje z plików logów Użytkowników zawierają: numer IP, nazwę sieciową komputera (host), dostawcę Internetu (na przykład TP SA, czy Dialog), informacje o przeglądarce (na przykład Internet Explorer lub Mozilla Firefox), czas spędzony na stronie Serwisu oraz informacje o stronach, które są otwierane. </li>
    <li>Serwis wykorzystuje cookies oraz localStorage, czyli małe pliki tekstowe wysyłane do komputera Użytkownika, w których znajdują się informacje niezbędne do prawidłowego funkcjonowania Serwisu, w szczególności procesu autoryzacji. Pliki cookies oraz localStorage wykorzystywane są do uproszczenia lub umorzenia danej operacji w tym między innymi do zapamiętywania danych niezbędnych do logowania Użytkownika, lepszego dopasowania Serwisu do potrzeb Użytkownika, tworzenia statystyk oglądalności. Warunkiem działania cookies jest ich akceptacja przez przeglądarkę oraz ich nieusuwanie.</li>
  </ol>

  <h3>VII. Przepisy końcowe</h3>
  <ol>
    <li>Niniejszy Regulamin obowiązuje od dnia 04.12.2017 r.</li>
    <li>Regulamin jest dostępny dla Użytkowników pod adresem internetowym http://albo-albo.tk/regulamin</li>
    <li>Właściciel ma prawo do jednostronnej zmiany postanowień niniejszego Regulaminu bez podania przyczyny i w każdej chwili. Zmiany wchodzą w życie z chwilą umieszczenia zmienionego tekstu Regulaminu pod adresem http://albo-albo.tk/regulamin</li>
    <li>Prawem właściwym jest prawo polskie.</li>
  </ol>

  <h3></h3>
</div>
