<div style="height: 100%" infiniteScroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"  [infiniteScrollDisabled]="disableScroll" (scrolled)="onScrollDown()">
  <data-table
    [items]="questions"
    [itemCount]="questionCount"
    (reload)="reload($event)"

    [pagination]="false"
    [indexColumn]="false"
    [selectColumn]="false"
    [multiSelect]="false"
    [rowColors]="rowColors"
  >
    <data-table-column property="id" header="#" [sortable]="true" [width]="50">
      <ng-template #dataTableCell let-item="item">
        <a class="btn btn-light btn-sm" [routerLink]="['/pytanie', item.id, item.shortLink]" aria-label="Przejdź do strony pytania">{{ item.id }}</a>
      </ng-template>
    </data-table-column>

    <data-table-column property="createdDate" header="Data utworzenia" [resizable]="true" [sortable]="true" [visible]="false">
      <ng-template #dataTableCell let-item="item">
                <span style="color: grey">
                {{ item.createdDate | date:'yyyy-MM-dd HH:mm' }}
                </span>
      </ng-template>
    </data-table-column>

    <data-table-column property="value" header="Pytanie" [resizable]="true" [sortable]="true">
    </data-table-column>

    <data-table-column property="firstAnswer" header="Odpowiedź A" [resizable]="true" [sortable]="true">
    </data-table-column>

    <data-table-column property="secondAnswer" header="Odpowiedź B" [resizable]="true" [sortable]="true">
    </data-table-column>

    <data-table-column property="adultRated" header="+18" [width]="70" [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <span class="text-danger" *ngIf="item.adultRated">+18</span>
      </ng-template>
    </data-table-column>

    <data-table-column header="Tagi" [resizable]="true" [sortable]="false">
      <ng-template #dataTableCell let-item="item">
        <span *ngFor="let tag of item.tags">{{ tag.name }} </span>
        <button *ngIf="item.status === 'PENDING'" (click)="editTags(item)" data-toggle="modal" data-target="#editTagsModal" class="btn btn-sm btn-light float-right"><i class="fa fa-edit" aria-hidden="true"></i> <span class="d-none d-lg-inline-block">Edytuj tagi</span></button>
      </ng-template>
    </data-table-column>

    <data-table-column property="firstCount" header="Liczba odp. A" [resizable]="true" [sortable]="true" [visible]="false">
    </data-table-column>

    <data-table-column property="secondCount" header="Liczba odp. B" [resizable]="true" [sortable]="true" [visible]="false">
    </data-table-column>

    <data-table-column property="answer_count" header="Łączna liczba odpowiedzi" [resizable]="true" [sortable]="true" [visible]="false">
      <ng-template #dataTableHeader>
        Odpowiedzi
      </ng-template>
    </data-table-column>

    <data-table-column property="commentCount" header="Komentarzy" [resizable]="true" [sortable]="true" [visible]="false">
    </data-table-column>

    <data-table-column property="plusCount" header="Plusów" [resizable]="true" [sortable]="true" [visible]="false">
      <ng-template #dataTableCell let-item="item">
        <span class="text-success">+{{ item.plusCount }}</span>
      </ng-template>
    </data-table-column>

    <data-table-column property="minusCount" header="Minusów" [resizable]="true" [sortable]="true" [visible]="false">
      <ng-template #dataTableCell let-item="item">
        <span class="text-danger">-{{ item.minusCount }}</span>
      </ng-template>
    </data-table-column>

    <data-table-column header="Ocena" [resizable]="true" [visible]="false">
      <ng-template #dataTableCell let-item="item">
        <span [ngClass]="{ 'text-success': item.plusCount - item.minusCount > 0, 'text-danger': item.plusCount - item.minusCount < 0 }" >{{ item.plusCount - item.minusCount }}</span>
      </ng-template>
    </data-table-column>

    <data-table-column property="vote_count" header="Głosów" [resizable]="true" [sortable]="true" [visible]="false">
    </data-table-column>

    <data-table-column property="userLogin" header="Autor" [resizable]="true" [sortable]="true" [visible]="false">
    </data-table-column>

    <data-table-column property="status" header="Status" [resizable]="true" [sortable]="true" [visible]="false">
      <ng-template #dataTableCell let-item="item">
        <ng-container [ngSwitch]="item.status">
          <span class="text-success" *ngSwitchCase="'ACCEPTED'">Zatwierdzone</span>
          <span class="text-warning" *ngSwitchCase="'PENDING'">Oczekujące</span>
          <span class="text-danger" *ngSwitchCase="'REJECTED'">Odrzucone</span>
          <span class="text-muted" *ngSwitchDefault>brak statusu</span>
        </ng-container>
      </ng-template>
    </data-table-column>

    <data-table-column header="Działania" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <button *ngIf="item.status === 'PENDING'" (click)="accept(item)" class="btn btn-sm btn-success"><i class="fa fa-check" aria-hidden="true"></i> <span class="d-none d-lg-inline-block">Zatwierdź</span></button>
        <button *ngIf="item.status === 'PENDING'" (click)="reject(item)" class="btn btn-sm btn-danger"><i class="fa fa-ban" aria-hidden="true"></i>  <span class="d-none d-lg-inline-block">Odrzuć</span></button>
      </ng-template>
    </data-table-column>
  </data-table>

  <div class="card bg-white border-0" *ngIf="isLoading">
    <div class="card-body text-center mt-2">
      <ngx-loading [show]="isLoading"></ngx-loading>
      <br />
      Trwa pobieranie...
    </div>
  </div>
</div>

<div class="modal fade" id="editTagsModal" tabindex="-1" role="dialog" aria-labelledby="editTagsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTagsModalLabel"><span class="mb-2" *ngIf="selectedQuestion?.id"><strong>{{ selectedQuestion.id }}</strong>.</span> Edytuj tagi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="mb-2">Możesz wybrać maksymalnie trzy tagi.</p>

        <button *ngFor="let tag of tags" class="btn btn-sm btn-tag" [ngClass]="[isTagSelected(tag.id) ? 'btn-success' : 'btn-light']" (click)="selectTag(tag)">{{ tag.name }}</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="editTagsCancel()" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" (click)="editTagsDone()" data-dismiss="modal">Edytuj</button>
      </div>
    </div>
  </div>
</div>
