<nav class="nav nav-justified">
  <a class="nav-item nav-link text-success" [routerLink]="['/top', 'oceniane']" [routerLinkActive]="['active']"><i class="fa fa-comments" aria-hidden="true"></i> Top ocenianych</a>
  <a class="nav-item nav-link text-success" [routerLink]="['/top', 'komentowane']" [routerLinkActive]="['active']"><i class="fa fa-comments" aria-hidden="true"></i> Top komentowanych</a>
  <a class="nav-item nav-link text-success" [routerLink]="['/top', 'odpowiadane']" [routerLinkActive]="['active']"><i class="fa fa-envelope" aria-hidden="true"></i> Top odpowiadanych</a>
  <a class="nav-item nav-link text-success" [routerLink]="['/top', 'lubiane']" [routerLinkActive]="['active']"><i class="fa fa-heartbeat" aria-hidden="true"></i> Top lubianych</a>
</nav>

<div class="row mb-4" *ngIf="isLoading">
  <div class="col-12">
    <div class="mt-2 text-center">
      <ngx-loading [show]="isLoading"></ngx-loading>
      <br />
      Trwa pobieranie...
    </div>
  </div>
</div>

<app-question *ngFor="let question of questions" [oneQuestion]="question" [btnFirst]="btnFirst" [btnSecond]="btnSecond"></app-question>
