<div class="row" *ngIf="stats">
  <div class="col-12 col-sm-6 col-md-12">
    <h3>{{ (stats.questions.accepted + stats.questions.pending + stats.questions.rejected) | createdQuestions }}</h3>
    <ul class="fa-ul">
      <li class="user-stats-questions--accepted">
        <i class="fa-li fa fa-check-circle-o" aria-hidden="true"></i>{{ stats.questions.accepted | acceptedQuestions }}
      </li>
      <li class="user-stats-questions--pending">
        <i class="fa-li fa fa-clock-o" aria-hidden="true"></i>{{ stats.questions.pending | pendingQuestions }}
      </li>
      <li class="user-stats-questions--rejected">
        <i class="fa-li fa fa-ban" aria-hidden="true"></i>{{ stats.questions.rejected | rejectedQuestions }}
      </li>
    </ul>
  </div>

  <div class="col-12 col-sm-6 col-md-12">
    <h3>Aktywność</h3>
    <ul class="fa-ul">
      <li class="user-stats-answers">
        <i class="fa-li fa fa-paper-plane-o" aria-hidden="true"></i>{{ (stats.answers.acceptedQuestions + stats.answers.pendingQuestions + stats.answers.rejectedQuestions) | answers }}
      </li>
      <li class="user-stats-comments">
        <i class="fa-li fa fa-comments-o" aria-hidden="true"></i>{{ (stats.comments.acceptedQuestions + stats.comments.pendingQuestions + stats.comments.rejectedQuestions) | comments }}
      </li>
      <li class="user-stats-votes">
        <i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>{{ (stats.votes.accepted + stats.votes.pending + stats.votes.rejected) | votes }}
      </li>
      <li class="user-stats-favourites">
        <i class="fa-li fa fa-heart-o" aria-hidden="true"></i>{{ (stats.favQuestion.accepted + stats.favQuestion.pending + stats.favQuestion.rejected) | favouriteQuestions }}
      </li>
    </ul>
  </div>
</div>
