<div class="row justify-content-md-center">
  <div class="col-lg-10">
    <form id="needs-validation" [formGroup]="addQuestionForm" novalidate (keyup.enter)="addQuestion(inputValue.value, inputFirstAnswer.value, inputSecondAnswer.value)">
      <div class="container-fluid"  [ngClass]="{'was-validated': isFormValid()}">

        <h1>Dodaj pytanie</h1>

        <div class="form-group row">
          <label for="inputValue" class="col-md-2 col-form-label text-left">Pytanie</label>
          <div class="col-md-10">
            <emojify-holder (emojiAdded)="emojiAdded($event, 'value')" class="emojisDialogFirst">
              <input #inputValue id="inputValue" type="text" class="form-control" [ngClass]="displayFieldCss('inputValue')" placeholder="Co wolisz" formControlName="inputValue" required emojiInput [emojiInputValue]="value" [(ngModel)]="value" spellcheck="true"/>
            </emojify-holder>
            <ng-container *ngIf="showFeedback()">
              <small class="invalid-feedback" *ngFor="let field of getKeysOfObject(addQuestionForm.get('inputValue').errors)">
                {{ validationMessages.inputValue[field] }}
              </small>
            </ng-container>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputFirstAnswer" class="col-md-2 col-form-label text-left">Odpowiedź A</label>
          <div class="col-md-10">
            <emojify-holder (emojiAdded)="emojiAdded($event, 'firstAnswer')" class="emojisDialogSecond">
              <input #inputFirstAnswer id="inputFirstAnswer" formControlName="inputFirstAnswer" type="text" class="form-control" [ngClass]="displayFieldCss('inputFirstAnswer')" placeholder="Odpowiedź po lewej" required  emojiInput [emojiInputValue]="firstAnswer" [(ngModel)]="firstAnswer" spellcheck="true"/>
            </emojify-holder>
            <ng-container *ngIf="showFeedback()">
              <small class="invalid-feedback">
                <span *ngFor="let field of getKeysOfObject(addQuestionForm.get('inputFirstAnswer').errors)">{{ validationMessages.inputFirstAnswer[field] }}</span>
              </small>
            </ng-container>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputSecondAnswer" class="col-md-2 col-form-label text-left">Odpowiedź B</label>
          <div class="col-md-10">
            <emojify-holder (emojiAdded)="emojiAdded($event, 'secondAnswer')" class="emojisDialogLast">
              <input #inputSecondAnswer id="inputSecondAnswer" formControlName="inputSecondAnswer" type="text" class="form-control" [ngClass]="displayFieldCss('inputSecondAnswer')" placeholder="Odpowiedź po prawej" required  emojiInput [emojiInputValue]="secondAnswer" [(ngModel)]="secondAnswer" spellcheck="true"/>
            </emojify-holder>
            <ng-container *ngIf="showFeedback()">
              <small class="invalid-feedback">
                <span *ngFor="let field of getKeysOfObject(addQuestionForm.get('inputSecondAnswer').errors)">{{ validationMessages.inputSecondAnswer[field] }}</span>
              </small>
            </ng-container>
          </div>
        </div>

        <div class="form-group row row-tags">
          <label class="col-md-2 col-form-label text-left">Dodaj tagi (maksymalnie trzy):</label>
          <div class="col-md-10">
            <button *ngFor="let tag of tags" class="btn btn-sm btn-tag" [ngClass]="[isInUserTags(tag) ? 'btn-success' : 'btn-light']" (click)="selectTag(tag)">{{ tag.name }}</button>
          </div>
        </div>

        <div class="form-group row">
          <div class="form-check">
            <div class="col">
              <label class="form-check-label" (change)="clickCheckbox()">
                <input class="form-check-input" type="checkbox" [checked]="isChecked()" id="inputCheckbox">
                Pytanie zawiera treść nieodpowiednią dla osób poniżej 18 roku życia.
              </label>
            </div>
          </div>
        </div>

        <button class="btn btn-secondary btn-block" type="button" (click)="reset()">Anuluj</button>

        <button class="btn btn-primary btn-block btn-add" [disabled]="isAdding" type="button" (click)="addQuestion(inputValue.value, inputFirstAnswer.value, inputSecondAnswer.value)"><i class="fa fa-refresh fa-spin fa-fw" aria-hidden="true" *ngIf="isAdding"></i> Dodaj pytanie</button>

        <p class="text-muted text-justify">Bądź Polakiem, pisz poprawną polszczyzną. Wszystkie pytania będą moderowane w celu uniknięcia duplikatów, wulgaryzmów lub przejawów lenistwa.</p>

        <p class="text-center text-danger" *ngIf="errorMessage">
          {{ errorMessage }}
        </p>
      </div>
    </form>
  </div>
</div>
