h1 {
  font-size: 30px;
  margin: 20px 0;
}

.btn-add {
  margin: 10px 0;
}

.btn-block {
  padding: 10px 0;
}

.btn-tag {
  margin: 0.25rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.invalid-feedback {
  display: block;
}
