span {
  display: block;
  position: relative;
  line-height: 1.0;
}

.stats-number {
  font-size: 30px;
  font-weight: 700;
}

.stats-description {
  font-size: 15px;
  font-weight: 500;
}

.stats-icon {
  margin: 10px 0;
  &:before {
    font-family: 'FontAwesome', serif;
    font-size: 40px;
    position: absolute;
    top: 0;
    opacity: 0.1;
    @media (max-width: 768px) {
      left: 10%;
    }
    @media (min-width: 768px) {
      left: 35%;
    }
  }
  &:hover:before {
    opacity: 0.25;
  }
}

.stats-questions {
  color: #730046;
  &:before {
    content: '\f128';
  }
}

.stats-answers {
  color: #FF3800;
  &:before {
    content: '\f0e0';
  }
}

.stats-users {
  color: #167F39;
  &:before {
    content: '\f0c0';
  }
}

.stats-comments {
  color: #3498DB;
  &:before {
    content: '\f086';
  }
}



