<div class="row" *ngIf="stats">
  <div class="col-6 text-center col-stats stats-questions">
    <span class="stats-number">{{ stats.questions }}</span>
    <span class="stats-description">pytań</span>
  </div>

  <div class="col-6 text-center col-stats stats-answers">
    <span class="stats-number">{{ stats.answers }}</span>
    <span class="stats-description">odpowiedzi</span>
  </div>
</div>

<div class="row" *ngIf="stats">
  <div class="col-6 text-center col-stats stats-comments">
    <span class="stats-number">{{ stats.comments }}</span>
    <span class="stats-description">komentarzy</span>
  </div>

  <div class="col-6 text-center col-stats stats-users">
    <span class="stats-number">{{ stats.users }}</span>
    <span class="stats-description">użytkowników</span>
  </div>
</div>
