<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-6">
    <form (keyup.enter)="login(loginInput.value, passwordInput.value)">
      <h1 class="text-center">Zaloguj się</h1>

      <div class="container">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input #loginInput type="text" class="form-control" placeholder="Login" aria-label="Login" autofocus required/>
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
          <input #passwordInput type="password" class="form-control" placeholder="Hasło" aria-label="Hasło" required />
        </div>

        <div class="row" *ngIf="errorMessage">
          <div class="col">
            <p class="text-danger text-center">{{ errorMessage }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="remember-me"> Nie wylogowuj mnie
              </label>
            </div>
          </div>
          <div class="col text-right">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#forgottenPasswordModal">Nie pamiętam hasła</button>
          </div>
        </div>

        <button class="btn btn-primary btn-block btn-signin" (click)="login(loginInput.value, passwordInput.value)" type="button">Zaloguj się</button>
      </div>
    </form>

    <div class="text-center mb-2">
      <a [routerLink]="['/rejestracja']" class="btn btn-link" aria-label="Zarejestruj się">Nie masz jeszcze konta? <strong>Załóż konto</strong></a>
    </div>
  </div>
</div>

<div class="modal fade" id="forgottenPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgottenPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgottenPasswordModalLabel">Nie pamiętam hasła</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mb-2" (keyup.enter)="forgot(forgotInput.value)">
          <div class="container">
            <div class="mb-3 text-justify">
              Podaj swój login, który podawałeś przy rejestracji, a za chwilę wyślemy Ci nowe hasłona e-maila, którym będziesz mógł się zalogować.
            </div>

            <div class="form-group row">
              <label for="forgotInput" class="col-sm-2 col-form-label text-left">Login</label>
              <div class="col-sm-10">
                <input #forgotInput id="forgotInput" type="text" class="form-control" [class.is-valid]="forgottenPasswordSuccess" [class.is-invalid]="forgottenPasswordError"  placeholder="Wpisz login" formControlName="inputLogin" required />
                <small class="invalid-feedback">
                  {{ forgottenPasswordError }}
                </small>
                <small class="valid-feedback">
                  {{ forgottenPasswordSuccess }}
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary" (click)="forgot(forgotInput.value)">Wyślij mi nowe hasło</button>
      </div>
    </div>
  </div>
</div>
