button:focus {
  outline: none;
}

.btn-google {
  color: #fff;
  background-color: #d62d20;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
}

.btn-signin {
  padding: 10px 0;
}

.form-check {
  margin-top: 5px;
}

.input-group {
  margin: 10px 10px 0 0;
}
