<div class="row flex-column-reverse flex-md-row">
  <div class="col-md-9">
    <ul class="nav nav-tabs ">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profil', login, 'wszystkie']" [routerLinkActive]="['active']">Wszystkie pytania</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profil', login, 'zatwierdzone']" [routerLinkActive]="['active']">Zatwierdzone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profil', login, 'oczekujace']" [routerLinkActive]="['active']">Oczekujące</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profil', login, 'odrzucone']" [routerLinkActive]="['active']">Odrzucone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profil', login, 'komentarze']" [routerLinkActive]="['active']">Komentarze</a>
      </li>
    </ul>

    <router-outlet></router-outlet>
  </div>

  <div class="col-md-3">
    <h2>{{ login }}</h2>
    <app-user-stats *ngIf="login" [login]="login"></app-user-stats>
  </div>
</div>
