<div *ngIf="authService.isLoggedIn(); then isLogged else isNotLogged"></div>

<ng-template #isNotLogged>
  <button *ngIf="sumShow" (click)="toggle()" type="button" class="btn btn-sm btn-vote"><span [ngClass]="{ 'text-success': sum > 0, 'text-danger': sum < 0 }" >{{ sum }}</span> ({{ count }})</button>

  <button *ngIf="!sumShow" (click)="toggle()" type="button" class="btn btn-sm btn-vote"><span class="text-danger">-{{ minusCount }}</span> <span class="text-success">+{{ plusCount }}</span></button>
</ng-template>

<ng-template #isLogged>
  <button (click)="vote(-1)" type="button" class="btn btn-sm text-danger" [ngClass]="{ 'btn-vote': !myVote, 'btn-vote--disabled': myVote == 1, 'btn-vote--voted': myVote == -1 }" [disabled]="myVote || isVoting"><i *ngIf="isVoting && myVote == -1" class="fa fa-refresh fa-spin fa-fw"></i><i *ngIf="!(isVoting && myVote == -1)" class="fa fa-thumbs-down" [ngClass]="{ 'text-muted': myVote == 1, 'text-danger': myVote == -1 || !myVote }" aria-label="Podoba mi się"></i> &#45;{{ minusCount }}</button>
  <button (click)="vote(1)" type="button" class="btn btn-sm text-success" [ngClass]="{ 'btn-vote': !myVote, 'btn-vote--disabled': myVote == -1, 'btn-vote--voted': myVote == 1  }" [disabled]="myVote || isVoting"><i *ngIf="isVoting && myVote == 1" class="fa fa-refresh fa-spin fa-fw"></i><i *ngIf="!(isVoting && myVote == 1)" class="fa fa-thumbs-up" [ngClass]="{ 'text-muted': myVote == -1, 'text-success': myVote == 1 || !myVote }" aria-label="Nie podoba mi się"></i> &#43;{{ plusCount }}</button>
</ng-template>
