.btn-report {
  background-color: transparent;
  &:hover, &:focus {
    background-color: rgba(190, 214, 222, 0.7);
  }
}

button.btn-report-comment {
  margin-top: -4px;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
}
.has-error {
  color: #dc3545;
}

.has-success {
  color: #28a745;
}
