<div class="row">
  <div class="col">
    <h2 class="mb-2">Poczekalnia</h2>
  </div>

  <div class="col text-right">
    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSidebar" aria-expanded="false" aria-controls="collapseSidebar"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
  </div>
</div>

<div class="row flex-column-reverse flex-md-row">
  <div class="col">
    <app-scrollable-list [btnFirst]="btnFirst" [btnSecond]="btnSecond" [adult]="adult" [answered]="answered" [status]="status" [order]="sort" [tag]="tag"></app-scrollable-list>
  </div>

  <div class="col-md-3 collapse show" id="collapseSidebar">
    <h3>Pytania oczekujące na akceptację</h3>
    <p class="p-info">Tutaj trafiają wszystkie pytania dodane przez użytkowników. Od was zależy, które z nich zostaną przeniesione do <a [routerLink]="['/najnowsze']">najnowszych</a>. Ostateczny wybór należy do moderacji.</p>

    <h3>Tagi</h3>
    <app-cloud [tags]="tags" [status]="status" (selected)="selectTag($event)"></app-cloud>

    <h3>Sortuj wg</h3>
    <button type="button"
            [class.btn-sort-selected]="sort == 'created_date DESC' || sort == 'created_date ASC'"
            class="btn btn-sm btn-sort text-left"
            (click)="sortBy('created_date DESC')"><i class="fa fa-calendar" aria-hidden="true"></i> daty dodania</button>
    <button type="button"
            [class.btn-sort-selected]="sort == 'comments_count DESC' || sort == 'comments_count ASC'"
            class="btn btn-sm btn-sort text-left"
            (click)="sortBy('comments_count DESC')"><i class="fa fa-comments-o" aria-hidden="true"></i> komentarzy</button>
    <button type="button"
            [class.btn-sort-selected]="sort == 'answer_count DESC' || sort == 'answer_count ASC'"
            class="btn btn-sm btn-sort text-left"
            (click)="sortBy('answer_count DESC')"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> odpowiedzi</button>
    <button type="button"
            [class.btn-sort-selected]="sort == 'vote_count DESC' || sort == 'vote_count ASC'"
            class="btn btn-sm btn-sort text-left"
            (click)="sortBy('vote_count DESC')"><i class="fa fa-check-square-o" aria-hidden="true"></i> głosów</button>


    <h3 *ngIf="authService.isLoggedIn()">Filtry</h3>
    <fieldset class="form-group d-block small" *ngIf="authService.isLoggedIn()">
      <legend class="col-form-legend legend">Pytania zawierające treść nieodpowiednią dla osób niepełnoletnich:</legend>
      <div class="form-check d-inline-block d-md-block">
        <label class="form-check-label">
          <input [(ngModel)]="adult" class="form-check-input" type="radio" name="adultRatedRadio" value="false"> ukryj pytania +18
        </label>
      </div>
      <div class="form-check d-inline-block d-md-block">
        <label class="form-check-label">
          <input [(ngModel)]="adult" class="form-check-input" type="radio" name="adultRatedRadio" value="true"> pokaż tylko pytania +18
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input [(ngModel)]="adult" class="form-check-input" type="radio" name="adultRatedRadio" value=""> pokaż wszystkie pytania
        </label>
      </div>
    </fieldset>

    <fieldset class="form-group d-block mt-3 small" *ngIf="authService.isLoggedIn()">
      <legend class="col-form-legend legend">Pytania, na które udzielono odpowiedzi:</legend>
      <div class="form-check  d-inline d-md-block">
        <label class="form-check-label">
          <input [(ngModel)]="answered" class="form-check-input" type="radio" name="answeredRadio" value="true"> wyświetl tylko te pytania, na ktore udzielono odpowiedzi
        </label>
      </div>
      <div class="form-check  d-inline d-md-block">
        <label class="form-check-label">
          <input [(ngModel)]="answered" class="form-check-input" type="radio" name="answeredRadio" value="false"> pokaż tylko te pytania, na które nie udzielono odpowiedź
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input [(ngModel)]="answered" class="form-check-input" type="radio" name="answeredRadio" value="" checked> pokaż wszystkie pytania
        </label>
      </div>
    </fieldset>

    <h3 *ngIf="authService.isLoggedIn()">Historia</h3>
    <app-simple-list *ngIf="authService.isLoggedIn()" [status]="status" [answered]="'true'" [order]="order"></app-simple-list>

    <h3>Statystyki</h3>
    <app-stats [status]="status"></app-stats>
  </div>
</div>
