<div class="row">
  <div class="col-lg-10 col-md-9">
    <app-question [idQuestion]="question" [btnFirst]="btnFirst" [btnSecond]="btnSecond"></app-question>

    <app-question idQuestion="115" [btnFirst]="btnFirst" [btnSecond]="btnSecond"></app-question>
    <app-question idQuestion="138" [btnFirst]="btnFirst" [btnSecond]="btnSecond"></app-question>
    <app-question idQuestion="126" [btnFirst]="btnFirst" [btnSecond]="btnSecond"></app-question>
  </div>


  <div class="col-lg-2 col-md-3">
    <h6>Tagi</h6>
    <app-cloud  [tags]="tags"></app-cloud>
  </div>
</div>
