<div class="row flex-column-reverse flex-md-row">
  <div class="col-md-9">
    <app-scrollable-list [btnFirst]="btnFirst" [btnSecond]="btnSecond" [status]="status" [order]="sort"></app-scrollable-list>
  </div>

  <div class="col-md-3">
    <h6>Tagi</h6>
    <app-cloud [tags]="tags" (selected)="tag()"></app-cloud>

    <h6 *ngIf="authService.isLoggedIn()">Historia</h6>
    <app-simple-list *ngIf="authService.isLoggedIn()" [status]="status" [answered]="answered" [order]="order"></app-simple-list>

    <h6>Statystyki</h6>
    <app-stats></app-stats>
  </div>
</div>
